.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left, .right {
    width: 50%;
}

img {
    width: 70%;
}

.mid-ver-line {
    width: 1px;
    height: 500px;
    background-color: lightblue;
    margin-right: 15px;
}

.hr-line {
    margin-bottom: 50px;
}

label, input {
    margin-bottom: 15px;
}
